* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #E5E5E5;
  font-family: 'Inter', sans-serif;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.container-text-decoder {
  width: 60%;
  height: 100vh;
}

.logo-a {
  margin-top: 40px;
  display: block;
}

.container-alert-btn {
  margin-top: 21rem;
  margin-left: 100px;
}

textarea {
  border: none;
  margin-top: 100px;
  margin-left: 100px;
  height: 300px;
  background: #E5E5E5;
  width: 60%;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0A3871;
}

textarea::placeholder {
  color: #0a3871af;
}

.container-alert {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.container-alert p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 150%;
  color: #0A3871;
  opacity: 0.8;
  margin-left: 10px;
}

.container-alert img {
  width: 16px;
  height: 16px;
}

#btn-criptografar {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 24px;
  width: 328px;
  height: 67px;
  background: #0A3871;
  border-radius: 24px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}
#btn-criptografar:hover {
  background: #0a3871c9;
}

#btn-descriptografar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  width: 328px;
  height: 67px;
  background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0A3871;
}
#btn-descriptografar:hover {
  background: #b2c8e4;
}

.container-view-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 900px;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

#text-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#view-decoder {
  flex-direction: column;
  align-items: center;
}

#view-decoder p {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #495057;
}

.container-view-text img {
  width: 70%;
}

.container-view-text h2 {
  padding: 10px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #343A40;
}

.container-view-text p {
  padding: 10px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #495057;
}

.container-btn {
  display: flex;
  align-items: center;
}

#copy {
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  width: 328px;
  height: 67px;
  background: #D8DFE8;
  border: 1px solid #0A3871;
  border-radius: 24px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0A3871;
}

#copy:hover {
  background: #b2c8e4;
}

#copy:active {
  background: #0a3871c9;
}


@media (max-height: 970px) {
  .container-alert-btn {
    margin-top: 15rem;
  }

  .container-view-text {
    height: 700px;
  }
}

@media (max-height: 870px) {
  .container-alert-btn {
    margin-top: 7rem;
  }

  .container-view-text {
    height: 700px;
  }
}

@media (max-height: 740px) {
  .container-alert-btn {
    margin-top: 4rem;
  }

  .container-view-text {
    height: 600px;
  }
}

@media (max-height: 680px) {
  textarea {
    margin-top: 70px;
    height: 250px;
  }
  .container-alert-btn {
    margin-top: 0rem;
  }

  .container-view-text {
    height: 500px;
  }

  #btn-descriptografar {
    width: 250px;
    height: 60px;
  }
  #btn-criptografar {
    width: 250px;
    height: 60px;
  }
}

@media (max-width: 1190px) {
  #copy {
    width: 250px;
    height: 60px;
  }
}

@media (max-width: 940px) {
  #copy {
    width: 200px;
    height: 45px;
  }
}

@media (max-width: 760px) {
  body {
    flex-direction: column;
  }
  #img {
    display: none;
  }
  textarea {
    margin-left: 0px;
    font-size: 25px;
  }
  .container-alert-btn {
    margin-left: 0px;
  }
  .container-view-text {
    height: 250px;
    width: 80%;
  }
  #view-decoder p {
  font-size: 20px;
  }
  #copy {
    width: 150px;
    height: 40px;
  }
  #btn-criptografar {
    width: 180px;
    height: 52px;
  }
  #btn-descriptografar {
    width: 180px;
    height: 52px;
  }
  .container-view-text h2 {
    font-size: 20px;
  }
  .container-view-text p {
    font-size: 14px;
  }
  .container-alert p {
    font-size: 14px;
  }
}

@media (max-width: 460px) {
  textarea {
    width: 100%;
    font-size: 15px;
    height: 200px;
  }
  .container-alert p {
    font-size: 10px;
  }

  #btn-criptografar {
    width: 180px;
    height: 52px;
    font-size: 14px;
  }
  #btn-descriptografar {
    width: 180px;
    height: 52px;
    font-size: 14px;
  }
  .container-view-text {
    margin-top: -50px;
  }
  @media (max-height: 900px) {
    .container-alert-btn {
      margin-top: 0rem;
    }
  .container-text-decoder {
    height: 600px;
    }
    .container-view-text {
      margin-top: -100px;
    }
  }
}